<p>todo works!</p>
<a>page</a>
<a routerLink="/page1">page1#</a>
<a routerLink="/page2">page2#</a>

<button *ngFor="let data of [{} , {} , {} ] ; let i = index" [routerLink]="'/page'+i+'/'+i">page{{i}}</button>
<div>Todo :
    <input type="text" #textInput [(ngModel)]="textInput2" [value]="nowDate | date : 'yyyy-MM-dd'" />
    <button (click)="send($event)">送出</button>
</div>
<!-- datepipe(format , timezone, local  ) -->
<div>{{nowDate | date : 'yyyy-MM-dd HHmmss': '+0800'}}</div>
<div>{{nowDate | date : 'yyyy-MM-dd HHmmss': '+0000'}}</div>
<div>{{textInput2}} ||| {{textInput.value}}</div>

<div>
    <div *ngFor="let data of dataList; let recordIndex = index">
        <input type="checkbox" [(ngModel)]="data.checked">
        <span>{{recordIndex + 1}} : </span>
        <span [ngClass]="data.checked?'red':''">{{data.value}}</span>
        <span>{{data.id}}_{{data.title}}_{{data.author}}</span>
        <br />
        <hr />
    </div>
</div>